@{
    ViewData["Title"] = "Rooms";
}

<div class="text-center">
    <h1 class="display-4">Rooms</h1>

</div>

<div>
   <a>
      <p>
          We Are still working at The Page!!! 
      </p> 
      <p>
          We need time, so sorry
      </p>

   </a> 
<img src="@Url.Content("~/Images/workers.png")" width="10%" height="10%" />
</div>


