@{
    ViewData["Title"] = "Trends";
}

<div class="text-center">
    <h1 class="display-4">Trends</h1>

</div>
<div>
   <a style="border-block">
       We Are still working at The Page!!! 
We need time
   </a> 
<img src="@Url.Content("~/Images/workers.png")" width="10%" height="10%" />
</div>
